footer
    div(style='font-size: 2vw')
        ul#footer
            li
                a(href='index.html')
                    img#footerimg(src='images/SVG/logo.svg', alt='Qscape')
            |           
            li
                a.footer(href='#')
                    i.fab.fa-twitter
            |   
            |           
            li
                a.footer(href='#')
                    i.fab.fa-facebook-square
            |   
            |           
            |           
            li
                ul#contact-info
                    li Quentin Chown
                    |             
                    li (403)-254-2341
                    |             
                    li qhchown@Qscape.ca
