doctype html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='/css/gallery.css')
  script(src='https://kit.fontawesome.com/16ea1f2f8f.js')
  title Gallery

include header

<main>
  <section>
    <h1>Gallery</h1>
    <ul id="gallery">
    <li><img src="images/g1.jpg" alt=""></li>
    <li><img src="images/g2.jpg" alt=""></li>
    <li><img src="images/g3.jpg" alt=""></li>
    <li><img src="images/g4.jpg" alt=""></li>
    <li><img src="images/g5.jpg" alt=""></li>
    <li><img src="images/g6.jpg" alt=""></li>
    <li><img src="images/g7.jpg" alt=""></li>
    <li><img src="images/g8.jpg" alt=""></li>
    <li><img src="images/g9.jpg" alt=""></li>
    <li><img src="images/g10.jpg" alt=""></li>  
    </ul>
  </section>
</main>

include footer