nav
    ul#head.flex
        li
            a(href='index.html')
                img#logo(src='/images/SVG/logo.svg', alt='Qscape')         
        li
            a.head(href='services.html') Services       
        li
            a.head(href='gallery.html') Gallery
        li
            a.head(href='quote-form.html') Get a Quote
nav#mobile
    #menuToggle
        input(type='checkbox')          
        span          
        span          
        span        
        ul#menu
            li
                a.ham(href='services.html') Services            
            li
                a.ham(href='gallery.html') Gallery
            li
                a.ham(href='quote-form.html') Get a Quote