doctype html(lang='en')
head
  meta(charset='UTF-8') 
  meta(name='viewport', content='width=device-width, initial-scale=1.0')  
  meta(http-equiv='X-UA-Compatible', content='ie=edge') 
  link(rel='stylesheet', href='/css/style.css')  
  script(src='https://kit.fontawesome.com/16ea1f2f8f.js')  
  title Qscape

include header

figure
  #herofoot
    h1 Quality Service It&apos;s In Our Name
main
  h2 Services
    |     
  #servicesa.grid
    article
      a(href='services.html#spring-anchor ')
        h3   Spring Cleaning
      |   
      p
        | Looking to get a head start on your lawn care? Qscape wants to help! Have a look over our great packages we offer to find out which one works for you!
    |       
    article
      a(href='services.html#lawn-anchor ')
        h3 Lawn care
      |  
      p
        | Keep your grass looking it&apos;s best all year long with our flexable lawn care services. Our plans range from weekly, bi-weekly, monthly and even on demand.
    |       
    article
      a(href='services.html#winter-anchor ')
        h3 Snow Removal
      |    
      p
        | During the cold months avoid the cold as much as possible by hiring Qscape to take care of all you snow removal needs! From your personal need or your comercial projects Qscape does it all!
  h4 Reviews
  .reviews
    .card
      .photo
        img.img(src = '/images/adult-beach-casual-736716.jpg', alt='person')        
      .details-container
      .content
        h5 Raymond Davidson               
        p.text
          | Qscape is the best lawn care and landscaping company that we have used. Prior to them, we had another well-known company providing our lawn service for over 25 years. Because they are devoted to lawns, they are experts in this field. As a result, our lawn has never been as thick, green, and healthy as it is now. Based on many years of experience as a homeowner with lawns, we highly recommend them.
    .card
      .photo
        img.img(src='/images/boy-casual-eyes-1222271.jpg', alt='person')         
      .details-container
      .content
        h5 Zach Sharpe              
        p.text
          | Mr. Chown and his company came to the rescue after a previous landscaper left my yard in terrible condition. After looking at the mess the last company made I decided to call anotehr company to save the day. Qscape was recommened by a friend and I don&apos;t regret the decision  I have spent my entire Saturday staring at and in awe of the work done. If you need a landscaper, call Quentin Chown!    
    .card
      .photo
        img.img(src='/images/adult-businessman-contemporary-937481.jpg', alt='person')        
      .details-container
      .content
        h5 Keith Elwin          
        p.text
          | Q and the crew at Qscape were awesome! Frank paid attention to details about our yard that we hadn&apos;t noticed and helped us create a cohesive space. He didn&apos;t try to oversell and the price was very comparable to other landscape companies that didn&apos;t have half the enthusiasm &amp; professionalism that Frank does. Great job Qscape! We love our yard.
    .card
      .photo
        img.img(src='/images/black-and-white-black-and-white-fashion-952005.jpg', alt='person')      
      .details-container
      .content
        h5 Keri Wing           
        p.text
          | My husband and I are so happy that we went with Qscape for our re-landscaping project. Quentin and his staff were timely, communicative, and professional from start to finish. It is obvious that they take great pride in their work, as well as their customer service -- and thanks to them, we now take great pride in our new yard! 
    .card
      .photo
        img.img(src='/images/adult-blue-sky-eyewear-343717.jpg', alt='person')  
      .details-container
      .content
        h5 Ryan Adams        
        p.text
          | Qscape made it easy to get exactly what I wanted. The whole process was smooth and the work was completed on schedule; I couldn&apos;t be happier with the results. Qscape is my top choice out there!
              
include footer