doctype html(lang='en')
head
  meta(charset='UTF-8')  
  meta(name='viewport', content='width=device-width, initial-scale=1.0')   
  meta(http-equiv='X-UA-Compatible', content='ie=edge') 
  link(rel='stylesheet', href='/css/services.css') 
  script(src='https://kit.fontawesome.com/16ea1f2f8f.js')
  title Services


include header

figure#hero
  #herofoot
    h1 Services
main
  h2#spring-anchor Spring Services
  |   
  p No matter the project big or small Qscape will do it all! We have a wide variety of spring services from yard clean-up all the way to first cut and fertilization. Our clean up services include 3 different packages Starter Middle and Elite. giving you every option to have to best looking yard on the block! Give us a call or submit a request for a quote in the menu above!
  |   
  hr
  |   
  |   
  h3#lawn-anchor Summer Services
  |   
  p Summer is the best of year but here in Calgary summer is short so don&apos;t waste your time mowing your lawn when you could be BBQing contact us today and We&apos;ll take care of your lawn stress free! Now that you lawn is taken care of why not make your yard to talk of the block booko us in for a quote on making your backyard a beautiful paradise for you and your family
  |   
  hr
  |   
  |     
  h4#winter-anchor Winter Services
  |     
  blockquote
    h6 Did You Know...
    br
    | In calgary you can be ticketed for failing to keep your sidewalks clean of snow
  |     
  p Our winter services cover all your needs to prep for winter as well as to keep your life stress free during Calgary&apos;s cold months and i mean long long cold months because in Calgary winter can start in October and last until May somtimes... But have no fear Qscape has your back with our winter packages from your personal needs to your commercial needs. We do on-demand services incase your away for a trip or just don&apos;t feel like shoveling! When the holidays come around let Qscape take care of your ligting needs! We can come instal decorations and lights and even go out and buy the materials for you too! 
  hr

include footer